# ===== MongoDB Credentials =====
MONGO_USER=
MONGO_PASS=

# ===== Internal API & JWT Secrets =====
INTERNAL_API_KEY=
JWT_SECRET=

# ===== Optional: Redis Config (if needed by app) =====
REDIS_PASSWORD=
RESEND_API_KEY=
PADDLE_PRICE_DEVELOPER=pri_01kjw71gbb85c8bvhrj1jv17gp
PADDLE_PRICE_STARTUP=pri_01kjw72nyws4493b5n8nm45yt9
PADDLE_PRICE_GROWTH=pri_01kjw739q31k63cc9mkj3c6m22
PADDLE_PRICE_ENTERPRISE=pri_01kjw7455a1x35rrzj92s5bb9r
PADDLE_ENV=production   # or sandbox
PADDLE_API_KEY=